<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Flipping Cards</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">

  <label for="question">Question: </label> 
  <input id = "question" v-model="newQuestion" placeholder="Type your question here"/> 
  <label for="answer">Answer: </label> 
  <input id="answer" v-model="newAnswer" placeholder="Type your answer here"/> 
  
  <br>
  <br>
  <!-- Radio with the value so when passed it assigns the category accordingly.-->
  <input type="radio" value="history" name="category" v-model="newCategory"/>
    <label for="history">History</label>
  <input type="radio" value="math" name="category" v-model="newCategory"/>
    <label for="math">Math</label>
  <input type="radio" value="science" name="category" v-model="newCategory"/>
  <label for="science">Science</label>
  
  <br>
  <br>
  <!-- button to connect to method for adding a newCard-->
  <button type="submit" v-on:click="newCard">Submit New Card</button>

  <br>
  <br>


  
  
  <div id="flashcards-app">
    <!--Need to use index for the flip function to work-->
   <div v-for = "(object, index) in cards" v-bind:class="{card:object}" v-on:click = "flip(index)">

      <div v-if ="object.flipped === false">
        <h1 v-bind:class="{side1:object}">{{object.question}}</h1>
      </div>
      <div v-else>
        <h1 v-bind:class="{side2:object}">{{object.answer}}</h1>
      </div>
     
      <!-- To get top border color dependent on category-->
      <div v-bind:class = "{top:object}">
      <div v-if = "object.category === 'history'">
        <div v-bind:class="{history:object, top:object}"></div>
      </div>
      <div v-if = "object.category === 'math'">
        <div v-bind:class="{math:object, top:object}"></div>
      </div>
      <div v-if = "object.category === 'science'">
        <div v-bind:class="{science:object, top:object}"></div>
      </div>
     </div>
    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
